.App {
  text-align: center;
  color: red;
  padding: 0%;
  width: auto;
  height: auto;
  font-size: 50px;
  text-shadow: royalblue;
  
}
.label{
  color: #09d3ac;
}
.label2{
 color: blue;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
