.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* slide */
.ant-carousel .slick-slide {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: contain;
  overflow: hidden;
}

.ant-carousel .slick-slide h1 {
  color: #fff;
}

.ant-carousel .slick-slide img {
  width: 100%;
  box-shadow:5px 5px 15px  rgba(50,50,50,.5);
}

/* Footer*/
/*Bar*/




